*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    margin: 20px;
}

b{
    color: red;
}

.form-div{
    border: 1px solid black;
    padding: 30px;
    width: 30vw;
    background-color: whitesmoke;
}

.version{
    border: 1px solid black;
    width: 30vw;
    padding: 30px;
    background-color: whitesmoke;  
}

h1{
    font-size: 5em;
}